In [8]:
#재귀 함수로 구현한 이진 탐색 소스코드

def bs(array, target, start, end):
  if start > end:
    return None
  
  mid = (start+end)//2
  #mid가 찾고자하는 target일경우 반환

  if array[mid] == target:
    return mid

  elif array[mid] > target:
    return bs(array, target, start, mid-1)
    #mid-1을 해주어야 왼쪽값 참조 가능

  else:
    return bs(array, target, mid+1, end)

# bs(배열, 정답, 시작지점, 끝)
# 시작지점이 끝보다 큰 경우에는 종료
# mid 변수를 정의 s와 e의 합의 //2 는 정수형으로 몫이 반환되기 때문에 ex) 7//2 = 3이 반환됨


n, target = list(map(int, input().split()))
#n은 원소의 개수 target은 찾고자 하는값
array = list(map(int, input().split()))

result = bs(array, target, 0, n-1)
if result==None:
  print("원소가 존재하지 않습니다.")

else:
  print(result + 1)

10 7
1 3 5 7 9 11 13 15 17 19
4

In [5]:
result=bs(array, 9, 0, n-1)

In [7]:
print(bs(array, 11, 0, n-1))

5